* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family:  'Roboto';
}


/* 

HEADER

*/

.header {
    background: url(../images/header\ banner.png) no-repeat center /cover;
    min-height: 565px;
    display: flex;
    flex-direction: column;
}

.nav {
    background: #322E41;
}

.nav_content {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__list-link {
    padding: 23px 15px;
    display: block;
    border-bottom: 2px solid transparent;
    color: white;
    transition: 200ms;
}

.nav__list-link:hover {
    color: #FFE600;
    border-color: white;
}

.header__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.header__content-title {
    font-size: 50px;
    margin-bottom: 15px;
}

.header__content-desc {
    font-size: 18px;
}